<% layout('layouts/boilerplate')%>

<body>
    <h1>All Campgrounds</h1>
    <a href="/campgrounds/new">Add campground</a>
    <ul>
        <% for (let campground of campgrounds) { %>
            <li>
                <a href="campgrounds/<%= campground.id %>"><%= campground.title %></a>
            </li>
        <%}%>
    </ul>
</body>
</html>